<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headerCommon :: head">
  <meta charset="UTF-8">
  <title>Add Claim</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header th:replace="fragments/mainHeaderCommon::mainHeader" class="main-header">
  </header>
  <aside class="main-sidebar">
    <section class="sidebar" th:replace="fragments/menuCommon::menu"></section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="col-8 p-15">
                <h3 class="card-title" th:utext="${pageTitle}"></h3>
                <h5 class="card-subtitle"><a th:href="@{'/dashboard'}">Dashboard</a> /
                  <span th:utext="${pageTitle}"></span> /
                  <span th:utext="${pageSubTitle}"></span>
                </h5>
              </div>
            </div>
          </div>
          <form th:action="@{/cardPayment/edit/{id} (id=${cardPayments.id})}" method="POST" th:object="${cardPayments}" role="form" enctype="multipart/form-data">
            <p class="alert alert-error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>
            <div class="row">
              <div class="col-md-8">
                <div class="box">
                  <div class="box-body">
                    <div class="box-header">
                      <div class="col-md-12">
                        <h3 class="card-title">New Card Payment's</h3>
                      </div>
                    </div>
                    <div class="box-body">
                      <input type="hidden" th:field="*{id}" />
                      <div class="col-md-12">
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('cardName')}? 'has-error':''">
                          <input type="text"
                                 id="cardName"
                                 name="cardname"
                                 class="form-control"
                                 th:field="*{cardName}"
                                 autofocus="autofocus"
                                 placeholder="Card Name"/>
                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('cardTypeId')}? 'has-error':''">
                          <select id="cardTypeId"
                                  name="cardtypeid"
                                  class="form-control" th:field="*{cardTypeId}">
                            <option value="">-- Card Type --</option>
                            <option th:each="cardpaymenttype : ${listCardType}"
                                    th:value="${cardpaymenttype.cardNameType}"
                                    th:utext="${cardpaymenttype.cardNameType}"/>
                          </select>

                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('cardNumber')}? 'has-error':''">
                          <input type="text"
                                 id="cardNumber"
                                 name="cardnumber"
                                 class="form-control"
                                 th:field="*{cardNumber}"
                                 autofocus="autofocus"
                                 placeholder="Card Number"/>
                        </div>
                        <div class="form-group has-feedback col-md-12" th:classappend="${#fields.hasErrors('balance')}? 'has-error':''">
                          <input type="text"
                                 id="balance"
                                 name="balance"
                                 class="form-control"
                                 th:field="*{balance}"
                                 autofocus="autofocus"
                                 placeholder="Balance"/>
                        </div>
                        <div class="box-footer">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.col -->
                  </div>

                </div>
              </div>
          </form>
          <!-- /.col -->
        </div>
      </div>

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:replace="fragments/footerCommon::footer" th:remove="tag"></div>
</div>
</body>

</html>